{% extends "layout.html"%} {%block content%}
<script>
  let alert = false;
  if (!!window.EventSource) {
    var source = new EventSource("/temperature");
    var source2 = new EventSource("/electrical");
    var source3 = new EventSource("/oxygen");
    var source4 = new EventSource("/fire");
    source.onmessage = function (e) {
      $("#data").text(e.data);
      if (parseInt(e.data) >= 21)
        $("#temperature_id").css("background-color", "red");
      //else
      //$("#temperature_id").css("background-color","white");
    };
    source2.onmessage = function (e) {
      $("#electrical").text(e.data + "KW");
      if (parseInt(e.data) >= 1002)
        $("#eletrical_id").css("background-color", "red");
    };
    source3.onmessage = function (e) {
      $("#oxygen").text(e.data + "% O2");
      if (parseInt(e.data) <= 16)
        $("#oxygen_id").css("background-color", "red");
    };
    source4.onmessage = function (e) {
      $("#fire").text(e.data + "% CO2");
      if (parseInt(e.data) >= 200)
        $("#fire_id").css("background-color", "red");
    };
  }
  function silent_temperature() {
    $("#temperature_id").css("background-color", "white");
  }
  function silent_eletrical() {
    $("#eletrical_id").css("background-color", "white");
  }
  function silent_oxygen() {
    $("#oxygen_id").css("background-color", "white");
  }
  function silent_fire() {
    $("#fire_id").css("background-color", "white");
  }
  function fire_supression() {
    $("#fire_id").css("background-color", "red");
  }
  function oxygen_supression() {
    $("#oxygen_id").css("background-color", "red");
  }
  function lower_temperature() {
    $("#data").innerHTML=parseInt($("#data").innerHTML)-5;
  }
</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #a22929">ISS CONTROLLER</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-end"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/"
            style="color: #a22929 !important"
            >Dashboard</a
          >
        </li>
        {% if user == "admin" %}
        <li class="nav-item">
          <!-- TODO: Use URL For to redirect to register route -->
          <a
            class="nav-link"
            href="{{ url_for('auth.register') }}"
            style="color: #a22929"
            >Create user</a
          >
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{ url_for('auth.logout') }}"
            style="color: #a22929"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container1">{% include "_msgs.html"%}</div>
<div class="container">
  <div class="cards_wrapper">
    <div class="admin_container">
      <div class="card" id="fire_id">
        <h3 class="heading">Fire Monitoring <br>system</h3>
        <div class="reading">
          <p class="val">
            Reading:<span class="r_val"><span id="fire"></span></span>
          </p>
        </div>
        <div class="btn_wrapper">
          {% if user == "admin" %}
          <div><a href="#" onclick="fire_supression()" class="activate">Fire Suppression</a></div>
          <div>
            <a href="#" onclick="silent_fire()" class="activate"
              >Silence Alarm</a>
          </div>
          {%endif%}
        </div>
      </div>
      <div class="card" id="electrical_id">
        <h3 class="heading">Electrical Monitoring <br>system</h3>
        <div class="reading">
          <p class="val">
            Reading:<span class="r_val"><span id="electrical"></span></span>
          </p>
        </div>
        <div class="btn_wrapper">
          {% if user == "admin" %}
          <!--<div><a href="#" class="activate">Something</a></div>-->
          <div>
            <a href="#" onclick="silent_eletrical()" class="activate"
              >Silence Alarm</a>
          </div>
          {%endif%}
        </div>
      </div>
      <div class="card" id="temperature_id">
        <h3 class="heading">Temperature Monitoring <br>system</h3>
        <div class="reading">
          <p class="val">
            Reading:<span class="r_val"
              ><span id="data">No readings</span></span
            >
          </p>
        </div>
        <div class="btn_wrapper">
          {% if user == "admin" %}
          <div><a href="#" onclick="lower_temperature()" class="activate">Lower Temp</a></div>
          <div>
            <a href="#" onclick="silent_temperature()" class="activate"
              >Silence Alarm</a>
          </div>
          {%endif%}
        </div>
      </div>
      <div class="card" id="oxygen_id">
        <h3 class="heading">Oxygen Monitoring <br>system</h3>
        <div class="reading">
          <p class="val">
            Reading:<span class="r_val"
              ><span id="oxygen">No readings</span></span
            >
          </p>
        </div>
        <div class="btn_wrapper">
          {% if user == "admin" %}
          <div><a href="#" onclick="oxygen_supression()" class="activate">Activate Emer Oxy</a></div>
          <div>
            <a href="#" onclick="silent_oxygen()" class="activate"
              >Silence Alarm</a>
          </div>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock content%}
